<a class="back" routerLink="../" routerLinkActive="selected">
  <i class="material-icons">arrow_back</i>
  <h1 class="col-lg-12">Create Event</h1>
</a>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-lg-5">
      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="name">Event name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter event name"
            [ngClass]="
              (eventForm.get('name').touched || eventForm.get('name').dirty) &&
              eventForm.get('name').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('name').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((eventForm.get('name').touched || eventForm.get('name').dirty) && !eventForm.get('name').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="name"
            required
          />
          <div class="invalid-feedback">
            {{ eventForm.get('name').hasError('required') ? 'Please provide a valid event name' : '' }}
            {{ eventForm.get('name').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="venue">Please select the venue:</label>
          <!--                    <button type="button" (click)="modal.show()">+</button>-->

          <input
            [typeahead]="venueListByName"
            class="form-control"
            id="venue"
            placeholder="Enter venue name"
            [ngClass]="
              (eventForm.get('venue').touched || eventForm.get('venue').dirty) &&
              eventForm.get('venue').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('venue').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((eventForm.get('venue').touched || eventForm.get('venue').dirty) && !eventForm.get('venue').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="venue"
            required
          />
          <div class="invalid-feedback">
            {{ eventForm.get('venue').hasError('required') ? 'Please provide a valid venue name' : '' }}
            {{ eventForm.get('venue').hasError('minlength') ? '3 characters required' : '' }}
          </div>

          <!--                    Please select the venue:-->
          <!--                    <input [(ngModel)]="selected"-->
          <!--                           [ngModelOptions]="{standalone: true}"-->
          <!--                           [typeahead]="venueList"-->
          <!--                           class="form-control">-->
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="start">Event starts at:</label>
          <input
            type="datetime-local"
            class="form-control"
            id="start"
            [ngClass]="
              (eventForm.get('start').touched || eventForm.get('start').dirty) &&
              eventForm.get('start').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('start').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((eventForm.get('start').touched || eventForm.get('start').dirty) && !eventForm.get('start').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="start"
            required
          />
          <div class="invalid-feedback">
            {{ eventForm.get('start').hasError('required') ? 'Please provide a valid venue name' : '' }}
            {{ eventForm.get('start').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="end">Event ends at:</label>
          <input
            type="datetime-local"
            class="form-control"
            id="end"
            [ngClass]="
              (eventForm.get('end').touched || eventForm.get('end').dirty) && eventForm.get('end').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('end').hasError('minlength')
                ? 'is-invalid'
                : '' || ((eventForm.get('end').touched || eventForm.get('end').dirty) && !eventForm.get('end').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="end"
            required
          />
          <div class="invalid-feedback">
            {{ eventForm.get('end').hasError('required') ? 'Please provide a valid venue name' : '' }}
            {{ eventForm.get('end').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="voucherQty"><span translate>Quantity available vouchers:</span></label>
          <input
            type="text"
            class="form-control"
            id="voucherQty"
            placeholder="Enter voucher quantity"
            [ngClass]="
              (eventForm.get('voucherQty').touched || eventForm.get('voucherQty').dirty) &&
              eventForm.get('voucherQty').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('voucherQty').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((eventForm.get('voucherQty').touched || eventForm.get('voucherQty').dirty) &&
                    !eventForm.get('voucherQty').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="voucherQty"
            required
          />
          <div class="invalid-feedback">
            {{ eventForm.get('voucherQty').hasError('required') ? 'Please provide a valid quantity of vouchers' : '' }}
            {{ eventForm.get('voucherQty').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-group">
          <label for="voucherQtyPerCustomer"><span translate>Quantity available vouchers per customer:</span></label>
          <input
            type="text"
            class="form-control"
            id="voucherQtyPerCustomer"
            placeholder="Enter voucher quantity"
            [ngClass]="
              (eventForm.get('voucherQtyPerCustomer').touched || eventForm.get('voucherQtyPerCustomer').dirty) &&
              eventForm.get('voucherQtyPerCustomer').hasError('required')
                ? 'is-invalid'
                : '' || eventForm.get('voucherQtyPerCustomer').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((eventForm.get('voucherQtyPerCustomer').touched || eventForm.get('voucherQtyPerCustomer').dirty) &&
                    !eventForm.get('voucherQtyPerCustomer').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="voucherQtyPerCustomer"
            required
          />
          <div class="invalid-feedback">
            {{
              eventForm.get('voucherQtyPerCustomer').hasError('required')
                ? 'Please provide a valid quantity of vouchers a customer can buy'
                : ''
            }}
            {{ eventForm.get('voucherQtyPerCustomer').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-lg-12 p-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault"> Minimum age required </label>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <full-calendar class="col-lg-12" [options]="calendarOptions"></full-calendar>
    </div>
  </div>
  <div class="form-row col-lg-12 p-1 mt-4">
    <button class="btn btn-primary" type="submit" [disabled]="!eventForm.valid">Create event</button>
  </div>
</form>
