<span translate> Onboard customer to {{ focussedEventDto.name }} </span>

<form [formGroup]="onboardCustomerForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-row col-sm-5 pl-0">
      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter venue name"
            [ngClass]="
              (onboardCustomerForm.get('name').touched || onboardCustomerForm.get('name').dirty) &&
              onboardCustomerForm.get('name').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('name').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('name').touched || onboardCustomerForm.get('name').dirty) &&
                    !onboardCustomerForm.get('name').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="name"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('name').hasError('required') ? 'Please provide a valid venue name' : '' }}
            {{ onboardCustomerForm.get('name').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input
            type="text"
            class="form-control"
            id="surname"
            placeholder="Enter surname"
            [ngClass]="
              (onboardCustomerForm.get('surname').touched || onboardCustomerForm.get('surname').dirty) &&
              onboardCustomerForm.get('surname').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('surname').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('surname').touched || onboardCustomerForm.get('surname').dirty) &&
                    !onboardCustomerForm.get('surname').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="surname"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('surname').hasError('required') ? 'Please provide a valid surname' : '' }}
            {{ onboardCustomerForm.get('surname').hasError('minlength') ? '2 characters required' : '' }}
          </div>
        </div>
      </div>

      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Enter email"
            [ngClass]="
              (onboardCustomerForm.get('email').touched || onboardCustomerForm.get('email').dirty) &&
              onboardCustomerForm.get('email').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('email').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('email').touched || onboardCustomerForm.get('email').dirty) &&
                    !onboardCustomerForm.get('email').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="email"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('email').hasError('required') ? 'Please provide a valid email' : '' }}
            {{ onboardCustomerForm.get('email').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="phoneNumber">Phone:</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            placeholder="Enter phone number"
            [ngClass]="
              (onboardCustomerForm.get('phoneNumber').touched || onboardCustomerForm.get('phoneNumber').dirty) &&
              onboardCustomerForm.get('phoneNumber').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('phoneNumber').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('phoneNumber').touched || onboardCustomerForm.get('phoneNumber').dirty) &&
                    !onboardCustomerForm.get('phoneNumber').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="phoneNumber"
            required
          />
          <div class="invalid-feedback">
            {{
              onboardCustomerForm.get('phoneNumber').hasError('required') ? 'Please provide a valid phone number' : ''
            }}
            {{ onboardCustomerForm.get('phoneNumber').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
    </div>

    <!-- Adress column -->
    <div class="form-row col-sm-7 pl-0">
      <div class="form-row col-sm-12 pl-0">
        <div class="col-sm-5 p-1">
          <div class="form-group">
            <label for="address">Address:</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Enter address"
              [ngClass]="
                (onboardCustomerForm.get('address').touched || onboardCustomerForm.get('address').dirty) &&
                onboardCustomerForm.get('address').hasError('required')
                  ? 'is-invalid'
                  : '' || onboardCustomerForm.get('address').hasError('minlength')
                  ? 'is-invalid'
                  : '' ||
                    ((onboardCustomerForm.get('address').touched || onboardCustomerForm.get('address').dirty) &&
                      !onboardCustomerForm.get('address').invalid)
                  ? 'is-valid'
                  : ''
              "
              formControlName="address"
              required
            />
            <div class="invalid-feedback">
              {{onboardCustomerForm.get('address').hasError('required') ? 'Please provide a valid address : ''}}
              {{ onboardCustomerForm.get('address').hasError('minlength') ? '3 characters required' : '' }}
            </div>
          </div>
        </div>
        <div class="col-sm-2 p-1">
          <div class="form-group">
            <label for="addressNr">Nr:</label>
            <input
              type="text"
              class="form-control"
              id="addressNr"
              placeholder="5A"
              [ngClass]="
                (onboardCustomerForm.get('addressNr').touched || onboardCustomerForm.get('addressNr').dirty) &&
                onboardCustomerForm.get('addressNr').hasError('required')
                  ? 'is-invalid'
                  : '' || onboardCustomerForm.get('addressNr').hasError('minlength')
                  ? 'is-invalid'
                  : '' ||
                    ((onboardCustomerForm.get('addressNr').touched || onboardCustomerForm.get('addressNr').dirty) &&
                      !onboardCustomerForm.get('addressNr').invalid)
                  ? 'is-valid'
                  : ''
              "
              formControlName="addressNr"
              required
            />
            <div class="invalid-feedback">
              {{
                onboardCustomerForm.get('addressNr').hasError('required') ? 'Please provide a valid address number' : ''
              }}
              {{ onboardCustomerForm.get('addressNr').hasError('minlength') ? '3 characters required' : '' }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="city">City:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Enter city"
            [ngClass]="
              (onboardCustomerForm.get('city').touched || onboardCustomerForm.get('city').dirty) &&
              onboardCustomerForm.get('city').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('city').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('city').touched || onboardCustomerForm.get('city').dirty) &&
                    !onboardCustomerForm.get('city').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="city"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('city').hasError('required') ? 'Please provide a valid city' : '' }}
            {{ onboardCustomerForm.get('city').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="state">State:</label>
          <input
            type="text"
            class="form-control"
            id="state"
            placeholder="Enter state"
            [ngClass]="
              (onboardCustomerForm.get('state').touched || onboardCustomerForm.get('state').dirty) &&
              onboardCustomerForm.get('state').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('state').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('state').touched || onboardCustomerForm.get('state').dirty) &&
                    !onboardCustomerForm.get('state').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="state"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('state').hasError('required') ? 'Please provide a valid state' : '' }}
            {{ onboardCustomerForm.get('state').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="country">Country:</label>
          <input
            type="text"
            class="form-control"
            id="country"
            placeholder="Enter country"
            [ngClass]="
              (onboardCustomerForm.get('country').touched || onboardCustomerForm.get('country').dirty) &&
              onboardCustomerForm.get('country').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('country').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('country').touched || onboardCustomerForm.get('country').dirty) &&
                    !onboardCustomerForm.get('country').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="country"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('country').hasError('required') ? 'Please provide a valid country' : '' }}
            {{ onboardCustomerForm.get('country').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
      <div class="form-row col-sm-12 p-1">
        <div class="form-group">
          <label for="postalCode">Postal code:</label>
          <input
            type="text"
            class="form-control"
            id="postalCode"
            placeholder="Enter postal code"
            [ngClass]="
              (onboardCustomerForm.get('postalCode').touched || onboardCustomerForm.get('postalCode').dirty) &&
              onboardCustomerForm.get('postalCode').hasError('required')
                ? 'is-invalid'
                : '' || onboardCustomerForm.get('postalCode').hasError('minlength')
                ? 'is-invalid'
                : '' ||
                  ((onboardCustomerForm.get('postalCode').touched || onboardCustomerForm.get('postalCode').dirty) &&
                    !onboardCustomerForm.get('postalCode').invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="postalCode"
            required
          />
          <div class="invalid-feedback">
            {{ onboardCustomerForm.get('postalCode').hasError('required') ? 'Please provide a valid postal code' : '' }}
            {{ onboardCustomerForm.get('postalCode').hasError('minlength') ? '3 characters required' : '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Payment type -->
  <!-- Submit -->
  <div class="form-row col-sm-12 p-1 mt-4">
    <button class="btn btn-primary" type="submit" [disabled]="onboardCustomerForm.invalid">
      Onboard {{ onboardCustomerForm.value['name'] + ' ' + onboardCustomerForm.value['surname'] }}
    </button>
  </div>
</form>
