<h1>My events</h1>
<div class="list-items">
  <!--  <div-->
  <!--    class="row"-->
  <!--    *ngFor="let event of events"-->
  <!--    (click)="setFocussedEvent(event)"-->
  <!--    routerLink="../{{ event.uuid }}/(detail:null)"-->
  <!--    routerLinkActive="selected"-->
  <!--  >  -->
  <!--    [routerLink]="['../event/{{event.uuid}}', { outlets: { primary: ['{{event.uuid}}'], detail: ['edit'] } }]"-->
  <!--  [routerLink]="['../event', { outlets: { primary: ['{{event.uuid}}'], detail: ['edit'] } }]"-->
  <!--  routerLink="../event/{{ event.uuid }}/(detail:null)"-->

  <!--  <div-->
  <!--    class='row'-->
  <!--    *ngFor='let event of events'-->
  <!--    (click)='setFocussedEvent(event)'-->

  <!--    routerLink="[-->
  <!--      {-->
  <!--        outlets: {-->
  <!--          primary: [-->
  <!--            {{ event.uuid }}-->
  <!--          ]-->
  <!--          , detail: [-->
  <!--            null-->
  <!--          ]-->
  <!--        }-->
  <!--      }-->
  <!--    ]"-->
  <!--    routerLinkActive='selected'-->
  <!--  >-->

  <!--  [routerLink]="[ { outlets: { primary: [  '../event/' +event.uuid  ] , detail: [ null ] } } ]"-->
  <div class="row" *ngFor="let event of events" (click)="setFocussedEvent(event)" routerLinkActive="selected">
    <div class="col-lg-2">
      <img
        class="img-fluid"
        src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2Xjhc-NPN5UAWzKdY3Kpl29Tyt-zCC8aOd3Gez8i2zrF3BS9bSQ"
      />
    </div>
    <div class="col-lg-10">
      <div class="list-items">
        <a class="list-item">
          <h2>{{ event.name }}</h2>
        </a>
        <a class="list-item"> <span translate>Venue: </span>{{ event.venue }} </a>
        <a class="list-item"> <span translate>Time: </span>{{ event.start }} </a>
        <a class="list-item"> <span translate>Ends: </span>{{ event.end }} </a>
      </div>
    </div>
  </div>
</div>
