img {
  display: block;
  margin-left: 20px;
  padding-right: 20px;
}

div.row {
  padding-top: 35px;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  cursor: pointer;
}
