// Sidebar
.sidebar {
  min-height: 96vh;
  height: auto;
  width: 300px;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .list-items {
  padding-top: 100px;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  cursor: pointer;
}

.list-item:hover {
  color: white;
  text-decoration: none;
}

.list-item.selected {
  color: white;
  text-decoration: none;
}

.list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: purple;

  /* set opacity to 0 by default */
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before {
  opacity: 0.35;
  transform: scaleY(0.5) scaleX(2);
}

.list-item.selected::before {
  opacity: 1;
  transform: scaleY(1);
}
