<div class="sidebar">
  <h3>Event Selected Sidebar</h3>
  <div class="list-items">
    <div
      *ngFor="let sideBarMenuItem of sideBarMenuItems"
      (click)="setFocussedItem(sideBarMenuItem)"
      routerLink="{{ sideBarMenuItem.url }}"
      routerLinkActive="selected"
    >
      <!--      <a-->
      <!--        [routerLink]="['../event-selected', { outlets: { detail: 'onboard-customer' } }]"-->
      <!--        routerLinkActive="selected"-->
      <!--        class="list-item"-->
      <!--      >-->
      <!--      <a routerLink="{{ sideBarMenuItem.url }}" routerLinkActive="selected" class="list-item">-->
      <i class="material-icons">{{ sideBarMenuItem.materialIcon }}</i>
      <span translate>{{ sideBarMenuItem.description }}</span>
    </div>
  </div>
</div>
